
<div class="container mt-4">
    <h2>Items</h2>
    <a class="btn btn-success mb-3" routerLink="/coffeeitems/add">Add Item</a>
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Brand Name</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of item">
          <td>{{ item.itemId }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.brandName }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.price }}</td>
          <td>
            <a [routerLink]="['/items', item.itemId]">
              <button class="btn btn-info btn-sm me-2">View</button>
            </a>
            <a [routerLink]="['/items/edit', item.itemId]">
              <button class="btn btn-warning btn-sm me-2">Edit</button>
            </a>
            <button (click)="deleteItem(item.itemId!)">Delete</button>
  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  